

.QuesDisplay110{
    position: fixed;
    width: 179px;
    height: 139.79px;
    left: 89px;
    top: 23%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 32.3905px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #414040;
    opacity: 0.8;
}

.QuesDisplay111{
    position: fixed;
    width: 1291px;
    height: 164px;
    left: 89px;
    top: 30%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;

    color: #414040;
}


.optionsArrangement{
    position:relative;
    margin-left: 2rem;
    margin-top: 4rem;
    width: auto;
    height: 15px;
    top: 60%;
    vertical-align: middle;
    text-align: start;
    text-indent: 20px;
    left: 1%;
    
}




.QuesDiscription{
    position: fixed;
    width: 100%;
    height: 53%;
    left: 1%;
    top:10%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #414040;
}


#my_radio_button_id1{
    border:2px solid white;
  box-shadow:0 0 0 1px #392;
  appearance:none;
  border-radius:50%;
  width:12px;
  height:12px;
  background-color:#fff;
  transition:all ease-in 0.2s;
}
#my_radio_button_id1:checked{
    background-color:#392;
}


.PrevBtn{
    position: fixed;
    width: 10%;
    height: 48px;
    left: 10%;
    top: 90%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #005941;
    border-radius: 48.3978px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    color: rgba(230, 230, 234, 0.9);
}
.PrevBtn:hover{
    background: rgba(28, 83, 56, 0.9);
    color: rgba(223, 223, 223, 0.9);
}
.PrevbtnLabel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    text-indent: 10%;
    margin-top: -5%;  
}

.NextBtn{
    
    position: fixed;
    width: 10%;
    height: 48px;
    left: 50%;
    top: 90%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #005941;
border-radius: 48.3978px;
    border: none;
    
}
.NextBtn:hover{
    background: rgba(28, 83, 56, 0.9);
    color: rgba(223, 223, 223, 0.9);
}
.NextBtnLabel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    text-indent: 60%;
    margin-top: -5%;  
}


.QuesNavItems1{
    position: absolute;
    width: 18%;
    height: 80%;
    left: 79%;
    top: 15%;
    background: #ffffff;
    border: 4px solid #FFFFFF;
    box-shadow: 14px 4px 11px 8px rgba(0, 0, 0, 0.25), inset 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.NoOfQuesHeading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.SubmitBtn{
    position:fixed;
    width: 12%;
    height: 5.5%;
    left: 82%;
    top: 85.5%;
    cursor: pointer;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 190%;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    
    text-decoration: none;
    border: none;
    background: #005941;
    border-radius: 66px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.SubmitBtn:hover {
    background-color: #ddd;
    color: black;
}

.ProgressBarStyle{
    position: fixed;
    top:360%;
    height: 3%;
    left: 4%;
    width: 87%;
    background: #005941;
    border-radius: 66px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ProgressBarText{
    position: fixed;
    top: 22%;
    left: 70%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #959595;
}

h4{
    position:fixed;
    width: 100%;
    height: 10%;
    left: 4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 180%;
    display: flex;
    align-items: center;
    text-align: center;

    color: #414040;
}